apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
bases:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: nginx-demo
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: nginx-demo
      spec:
        replicas: 3
